<ul>
  <% if comment_list[comment] %>
    <% comment_list[comment].each do |child| %>
      <li>
        <h3> <%= child.user.username %> </h3> <br>
        <p> <%= child.content %> <%= link_to "show", content %> </p>
        <%= render partial: "comment", locals: {comment: child.id, comment_list: comment_list} %>
      </li>
    <% end %>
  <% end %>
</ul>
