<% grouped_comments = @post.comments.group_by{|p| p.comment_id} %>






<h1> <%= @post.title %> </h1>

<div>
  <%= @post.content %> <br>
  <%= link_to "comment", new_comment_path(post_id: @post.id) %>
</div>

<h2> Comments </h2>

<div>
  <%= render partial: "comment", locals: {comment: nil, comment_list: grouped_comments} %>
</div>
